* {
  align-content: center;
}

body {
  background: gray;
  z-index: -234;
  background-size: 100%;
  background-repeat: no-repeat;
}

nav {
  display: inline-block;

}

.trains {
  align-content: center;
  width: 50%;
  display: inline-block;
  margin: 0 auto;
}

.addTrain {
  width: 50%;
}

form-group {
  padding: 5px;
}

button {
  margin-bottom: 10px;
}

#trainCard {
  width: 50%;
  margin: 0 auto;
}
