* {
  align-content: center;
  text-align: center;
 
}

body {
  background-image: url("https://images.pexels.com/photos/374684/pexels-photo-374684.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  z-index: -234;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}

form-group {
  padding: 5px;
  width: 50%;
  align-content: inherit;
}

button {
  margin-bottom: 10px;
}

card {
  width: 50%;
  margin: 0 auto;
}

.heading {
  margin: 0 auto;
  font-family: 'Major Mono Display', monospace;
  font-size: 50px;
  background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.trainTable,
.trainAdd {
  font-family: 'Acme', sans-serif;
  width: 50%;
 color: brown;
background-color: antiquewhite;
 margin: auto;
}

thead {
  background-color: black;
  font-family: 'Acme', sans-serif;
}
#title {
  background-color: gray;
  
}