* {
  align-content: center;
}

body {
  background: black;
  z-index: -234;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}

nav {
  display: inline-block;

}

.trains {
  align-content: center;
  width: 50%;
  display: inline-block;
  margin: 0 auto;
}

.addTrain {
  width: 50%;
}

form-group {
  padding: 5px;
}

button {
  margin-bottom: 10px;
}

card {
  width: 50%;
  margin: 0 auto;
}

.heading {
  margin: 0 auto;
  color: blanchedalmond;
  font-family: 'Exo 2', sans-serif;
  
}
